In [1]:
import numpy as np
import pandas as pd

In [2]:

movie = pd.read_csv("/content/movies.csv")
rating = pd.read_csv("/content/ratings.csv")

In [3]:
movie.tail()

,movieId,title,genres
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [4]:
movie.shape

(9742, 3)

In [5]:
movie["title"].duplicated().sum()

5

In [6]:
movie=movie[movie["title"].duplicated()==False]

In [7]:
movie.shape

(9737, 3)

In [8]:
rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [9]:
rating.shape

(100836, 4)

In [10]:
df = movie.merge(rating, how="left", on="movieId")
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

In [11]:
df.shape

(100848, 6)

In [12]:

df["title"].value_counts()

Forrest Gump (1994)                        329
Shawshank Redemption, The (1994)           317
Pulp Fiction (1994)                        307
Silence of the Lambs, The (1991)           279
Matrix, The (1999)                         278
                                          ...
Another Thin Man (1939)                      1
Gate, The (1987)                             1
Secret Life of Walter Mitty, The (1947)      1
Mogambo (1953)                               1
Andrew Dice Clay: Dice Rules (1991)          1
Name: title, Length: 9737, dtype: int64

In [13]:
comment_counts = pd.DataFrame(df["title"].value_counts())
comment_counts.head()

                                  title
Forrest Gump (1994)                 329
Shawshank Redemption, The (1994)    317
Pulp Fiction (1994)                 307
Silence of the Lambs, The (1991)    279
Matrix, The (1999)                  278

In [14]:
common_movies=comment_counts[comment_counts["title"]>=100].index

In [15]:
print(common_movies)

Index(['Forrest Gump (1994)', 'Shawshank Redemption, The (1994)',
       'Pulp Fiction (1994)', 'Silence of the Lambs, The (1991)',
       'Matrix, The (1999)', 'Star Wars: Episode IV - A New Hope (1977)',
       'Jurassic Park (1993)', 'Braveheart (1995)',
       'Terminator 2: Judgment Day (1991)', 'Schindler's List (1993)',
       ...
       'Trainspotting (1996)', 'Heat (1995)',
       'Harry Potter and the Chamber of Secrets (2002)', 'Cliffhanger (1993)',
       'Firm, The (1993)', 'Outbreak (1995)', 'Casablanca (1942)',
       'Cast Away (2000)', 'V for Vendetta (2006)',
       'Austin Powers: International Man of Mystery (1997)'],
      dtype='object', length=138)

In [16]:
common_movies_df=df[df["title"].isin(common_movies)]

In [17]:
common_movies_df.shape

(20188, 6)

In [18]:
common_movies_df["title"].nunique()

138

In [19]:
user_movie_df = common_movies_df.pivot_table(index=["title"], columns=["userId"], values=["rating"])
user_movie_df.head()

                                  rating                                      \
userId                             1.0   2.0   3.0   4.0   5.0   6.0   7.0
title
2001: A Space Odyssey (1968)         NaN   NaN   NaN   NaN   NaN   NaN   4.0
Ace Ventura: Pet Detective (1994)    NaN   NaN   NaN   NaN   3.0   3.0   NaN
Aladdin (1992)                       NaN   NaN   NaN   4.0   4.0   5.0   3.0
Alien (1979)                         4.0   NaN   NaN   NaN   NaN   NaN   NaN
Aliens (1986)                        NaN   NaN   NaN   NaN   NaN   NaN   NaN

                                                     ...                    \
userId                            8.0   9.0   10.0   ... 601.0 602.0 603.0
title                                                ...
2001: A Space Odyssey (1968)        NaN   NaN   NaN  ...   NaN   NaN   5.0
Ace Ventura: Pet Detective (1994)   NaN   NaN   NaN  ...   NaN   2.0   NaN
Aladdin (1992)                      NaN   NaN   4.0  ...   NaN   NaN   NaN
Alien (1979)                        NaN   NaN   NaN  ...   NaN   NaN   5.0
Aliens (1986)                       NaN   NaN   NaN  ...   NaN   NaN   4.0


userId                            604.0 605.0 606.0 607.0 608.0 609.0 610.0
title
2001: A Space Odyssey (1968)        NaN   NaN   5.0   NaN   3.0   NaN   4.5
Ace Ventura: Pet Detective (1994)   2.0   NaN   NaN   NaN   3.5   NaN   3.0
Aladdin (1992)                      3.0   3.5   NaN   NaN   3.0   NaN   NaN
Alien (1979)                        NaN   NaN   4.0   3.0   4.0   NaN   4.5
Aliens (1986)                       NaN   NaN   3.5   NaN   4.5   NaN   5.0

[5 rows x 597 columns]

In [20]:
corr_mat=user_movie_df.T.corr()
corr_mat.head()

title,2001: A Space Odyssey (1968),Ace Ventura: Pet Detective (1994),Aladdin (1992),Alien (1979),Aliens (1986),"Amelie (Fabuleux destin d'Amlie Poulain, Le) (2001)",American Beauty (1999),American History X (1998),American Pie (1999),Apocalypse Now (1979),...,"Truman Show, The (1998)",Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Twister (1996),Up (2009),"Usual Suspects, The (1995)",V for Vendetta (2006),WALLE (2008),Waterworld (1995),Willy Wonka & the Chocolate Factory (1971),X-Men (2000)
title,,,,,,,,,,,,,,,,,,,,,
2001: A Space Odyssey (1968),1.000000,-0.036319,0.017446,0.318523,0.317386,0.324150,0.193592,0.152405,0.011490,0.478877,...,-0.012451,-0.041791,-0.458642,0.152271,0.245279,-0.044911,0.100172,-0.447306,0.087803,-0.123862
Ace Ventura: Pet Detective (1994),-0.036319,1.000000,0.302193,-0.208017,-0.107524,-0.030425,0.040435,0.065549,0.173855,0.245829,...,0.188089,0.054408,0.176930,-0.007853,-0.061520,0.201561,0.170717,0.176155,0.051239,0.045676
Aladdin (1992),0.017446,0.302193,1.000000,0.026514,0.151152,0.445204,0.127764,0.262014,0.367076,0.015038,...,0.562311,-0.069176,0.137215,0.171330,0.153934,0.082673,0.272375,0.065342,0.164459,0.285480
Alien (1979),0.318523,-0.208017,0.026514,1.000000,0.705925,0.387215,0.215751,0.035373,-0.006804,0.378709,...,0.178620,0.108327,0.022007,-0.098813,0.350428,0.270987,0.270697,0.119849,0.117749,0.030257
Aliens (1986),0.317386,-0.107524,0.151152,0.705925,1.000000,0.540458,0.111452,0.139326,0.076674,0.221920,...,0.287243,0.084792,0.092412,0.195581,0.296933,0.342581,0.294852,-0.014274,0.111864,0.225923

In [130]:
movie_name = "Matrix, The (1999)"

recommemnd_movies=corr_mat[corr_mat.index==movie_name].unstack().sort_values(ascending=False)[0:11].index
for i in recommemnd_movies:
  print(i[0])

Matrix, The (1999)
Die Hard (1988)
Inception (2010)
Braveheart (1995)
Aliens (1986)
Lion King, The (1994)
Monsters, Inc. (2001)
Batman Begins (2005)
Jurassic Park (1993)
Fight Club (1999)
Spider-Man (2002)

In [22]:
random_user=2

In [23]:
user_movie = common_movies_df.pivot_table(index=["userId"], columns=["title"], values=["rating"])
user_movie.head()

                             rating                                    \
title  2001: A Space Odyssey (1968) Ace Ventura: Pet Detective (1994)
userId
1.0                             NaN                               NaN
2.0                             NaN                               NaN
3.0                             NaN                               NaN
4.0                             NaN                               NaN
5.0                             NaN                               3.0

                                                  \
title  Aladdin (1992) Alien (1979) Aliens (1986)
userId
1.0               NaN          4.0           NaN
2.0               NaN          NaN           NaN
3.0               NaN          NaN           NaN
4.0               4.0          NaN           NaN
5.0               4.0          NaN           NaN

                                                             \
title  Amelie (Fabuleux destin d'Amlie Poulain, Le) (2001)
userId
1.0                                                   NaN
2.0                                                   NaN
3.0                                                   NaN
4.0                                                   NaN
5.0                                                   NaN

                                                                             \
title  American Beauty (1999) American History X (1998) American Pie (1999)
userId
1.0                       5.0                       5.0                 NaN
2.0                       NaN                       NaN                 NaN
3.0                       NaN                       NaN                 NaN
4.0                       5.0                       NaN                 NaN
5.0                       NaN                       NaN                 NaN

                              ...                          \
title  Apocalypse Now (1979)  ... Truman Show, The (1998)
userId                        ...
1.0                      4.0  ...                     NaN
2.0                      NaN  ...                     NaN
3.0                      NaN  ...                     NaN
4.0                      NaN  ...                     NaN
5.0                      NaN  ...                     NaN

                                                                           \
title  Twelve Monkeys (a.k.a. 12 Monkeys) (1995) Twister (1996) Up (2009)
userId
1.0                                          NaN            3.0       NaN
2.0                                          NaN            NaN       NaN
3.0                                          NaN            NaN       NaN
4.0                                          2.0            NaN       NaN
5.0                                          NaN            NaN       NaN

                                                                       \
title  Usual Suspects, The (1995) V for Vendetta (2006) WALLE (2008)
userId
1.0                           5.0                   NaN           NaN
2.0                           NaN                   NaN           NaN
3.0                           NaN                   NaN           NaN
4.0                           NaN                   NaN           NaN
5.0                           4.0                   NaN           NaN

                                                                     \
title  Waterworld (1995) Willy Wonka & the Chocolate Factory (1971)
userId
1.0                  NaN                                        5.0
2.0                  NaN                                        NaN
3.0                  NaN                                        NaN
4.0                  NaN                                        4.0
5.0                  NaN                                        NaN


title  X-Men (2000)
userId
1.0             5.0
2.0             NaN
3.0             NaN
4.0             NaN
5.0             NaN

[5 rows x 138 columns]

In [24]:
random_user_df = user_movie[user_movie.index == random_user]
random_user_df

                             rating                                    \
title  2001: A Space Odyssey (1968) Ace Ventura: Pet Detective (1994)
userId
2.0                             NaN                               NaN

                                                  \
title  Aladdin (1992) Alien (1979) Aliens (1986)
userId
2.0               NaN          NaN           NaN

                                                             \
title  Amelie (Fabuleux destin d'Amlie Poulain, Le) (2001)
userId
2.0                                                   NaN

                                                                             \
title  American Beauty (1999) American History X (1998) American Pie (1999)
userId
2.0                       NaN                       NaN                 NaN

                              ...                          \
title  Apocalypse Now (1979)  ... Truman Show, The (1998)
userId                        ...
2.0                      NaN  ...                     NaN

                                                                           \
title  Twelve Monkeys (a.k.a. 12 Monkeys) (1995) Twister (1996) Up (2009)
userId
2.0                                          NaN            NaN       NaN

                                                                       \
title  Usual Suspects, The (1995) V for Vendetta (2006) WALLE (2008)
userId
2.0                           NaN                   NaN           NaN

                                                                     \
title  Waterworld (1995) Willy Wonka & the Chocolate Factory (1971)
userId
2.0                  NaN                                        NaN


title  X-Men (2000)
userId
2.0             NaN

[1 rows x 138 columns]

In [25]:
movies_watched = random_user_df.columns[random_user_df.notna().any()].tolist()
movies_watched

[('rating', 'Dark Knight, The (2008)'),
 ('rating', 'Departed, The (2006)'),
 ('rating', 'Gladiator (2000)'),
 ('rating', 'Good Will Hunting (1997)'),
 ('rating', 'Inception (2010)'),
 ('rating', 'Kill Bill: Vol. 1 (2003)'),
 ('rating', 'Shawshank Redemption, The (1994)')]

In [26]:
len(movies_watched)

7

In [27]:

movies_watched_df = user_movie[movies_watched]
movies_watched_df.head()
movies_watched_df.shape

(597, 7)

In [28]:
user_movie_count = movies_watched_df.T.notnull().sum()

user_movie_count = user_movie_count.reset_index()
user_movie_count.columns = ["userId","movie_count"]
user_movie_count.head()

   userId  movie_count
0     1.0            1
1     2.0            7
2     3.0            0
3     4.0            1
4     5.0            1

In [29]:
users_same_movies = user_movie_count[user_movie_count["movie_count"] > 0.4*len(movies_watched)]["userId"]
users_same_movies.count()

180

In [30]:

final_df = movies_watched_df[movies_watched_df.index.isin(users_same_movies)]

final_df.head()

                        rating                                        \
title  Dark Knight, The (2008) Departed, The (2006) Gladiator (2000)
userId
2.0                        4.5                  4.0              4.0
15.0                       2.0                  NaN              5.0
16.0                       4.5                  NaN              NaN
17.0                       4.5                  4.0              NaN
18.0                       4.0                  4.5              4.5

                                                                           \
title  Good Will Hunting (1997) Inception (2010) Kill Bill: Vol. 1 (2003)
userId
2.0                         4.5              4.0                      4.0
15.0                        NaN              3.5                      3.0
16.0                        3.5              3.0                      NaN
17.0                        NaN              4.5                      NaN
18.0                        4.0              4.5                      3.5


title  Shawshank Redemption, The (1994)
userId
2.0                                 3.0
15.0                                5.0
16.0                                4.0
17.0                                5.0
18.0                                5.0

In [31]:
final_df.T.corr()

userId,2.0,15.0,16.0,17.0,18.0,21.0,22.0,24.0,25.0,28.0,...,586.0,590.0,593.0,596.0,599.0,600.0,601.0,606.0,608.0,610.0
userId,,,,,,,,,,,,,,,,,,,,,
2.0,1.000000,-0.752651,0.000000e+00,-0.648886,-0.683130,6.123724e-01,-7.726833e-01,-0.912871,NaN,-0.156174,...,-0.471405,-0.166667,-0.576557,0.612372,-2.937374e-16,0.188982,-5.833333e-01,5.833333e-01,-2.294157e-01,0.765641
15.0,-0.752651,1.000000,-3.273268e-01,0.866025,0.739940,-2.437087e-01,8.164966e-01,0.522233,NaN,0.192450,...,1.000000,0.333333,NaN,-0.800757,-7.585826e-02,-0.188982,-5.000000e-01,-1.000000e+00,5.000000e-01,-0.303433
16.0,0.000000,-0.327327,1.000000e+00,0.188982,-0.134840,NaN,-1.000000e+00,0.258199,NaN,0.866025,...,-0.866025,NaN,1.000000,NaN,2.000000e-01,NaN,7.691851e-16,-1.000000e+00,NaN,0.142857
17.0,-0.648886,0.866025,1.889822e-01,1.000000,0.500000,NaN,9.449112e-01,1.000000,NaN,0.866025,...,1.000000,0.866025,NaN,NaN,8.528029e-01,NaN,NaN,NaN,NaN,-0.956183
18.0,-0.683130,0.739940,-1.348400e-01,0.500000,1.000000,5.345225e-01,3.149449e-01,0.801784,NaN,-0.244677,...,0.522233,0.480384,0.720577,-0.133631,-5.970849e-01,-0.755929,6.454972e-01,-8.807048e-01,4.472136e-01,-0.471621
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600.0,0.188982,-0.188982,NaN,NaN,-0.755929,-1.000000e+00,-1.922963e-16,NaN,NaN,1.000000,...,NaN,-1.000000,NaN,-1.000000,9.449112e-01,1.000000,NaN,1.000000e+00,-1.000000e+00,0.500000
601.0,-0.583333,-0.500000,7.691851e-16,NaN,0.645497,5.000000e-01,-1.147079e-01,0.577350,NaN,-0.447214,...,NaN,-0.500000,0.277350,0.500000,-5.601120e-01,NaN,1.000000e+00,-5.773503e-01,5.000000e-01,-0.522233
606.0,0.583333,-1.000000,-1.000000e+00,NaN,-0.880705,3.845925e-16,8.084521e-02,-0.500000,NaN,0.140028,...,NaN,-0.577350,-0.970725,0.866025,8.660254e-01,1.000000,-5.773503e-01,1.000000e+00,-4.440892e-16,0.088045
608.0,-0.229416,0.500000,NaN,NaN,0.447214,8.660254e-01,1.000000e+00,0.500000,NaN,-0.904534,...,NaN,0.500000,-0.693375,0.866025,-3.972055e-16,-1.000000,5.000000e-01,-4.440892e-16,1.000000e+00,-0.970725
610.0,0.765641,-0.303433,1.428571e-01,-0.956183,-0.471621,-4.264014e-01,-7.492686e-01,-0.878310,NaN,-0.124226,...,-0.277350,-0.388889,1.000000,-0.852803,-2.058824e-01,0.500000,-5.222330e-01,8.804509e-02,-9.707253e-01,1.000000

In [32]:
corr_df = final_df.T.corr().unstack().sort_values().drop_duplicates()
corr_df = pd.DataFrame(corr_df, columns=["corr"])
corr_df.index.names = ['user_id_1', 'user_id_2']
corr_df = corr_df.reset_index()
corr_df.head()

   user_id_1  user_id_2  corr
0      596.0      125.0  -1.0
1      606.0      222.0  -1.0
2       16.0      537.0  -1.0
3      327.0      189.0  -1.0
4      514.0      282.0  -1.0

In [33]:
top_users = corr_df[(corr_df["user_id_1"] == random_user) & (corr_df["corr"] >= 0.45)][
    ["user_id_2", "corr"]].reset_index(drop=True)
top_users.shape

(6, 2)

In [34]:
top_users = top_users.sort_values(by='corr', ascending=False)
top_users.rename(columns={"user_id_2": "userId"}, inplace=True)

In [35]:

top_users_ratings = top_users.merge(rating[["userId", "movieId", "rating"]], how='inner')

top_users_ratings = top_users_ratings[top_users_ratings["userId"] != random_user]
top_users_ratings.shape

(2586, 4)

In [36]:
top_users_ratings['weighted_rating'] = top_users_ratings['corr'] * top_users_ratings['rating']
top_users_ratings.groupby('movieId').agg({"weighted_rating": "mean"})

recommendation_df = top_users_ratings.groupby('movieId').agg({"weighted_rating": "mean"})
recommendation_df = recommendation_df.reset_index()

recommendation_df.shape

(1947, 2)

In [37]:
recommendation_df[recommendation_df["weighted_rating"] > 3]

      movieId  weighted_rating
0           1         3.071711
3           6         3.562183
5          16         3.205965
21         62         3.535714
22         70         3.062566
...       ...              ...
1941   166528         3.062566
1942   166534         3.062566
1943   168248         3.828207
1944   168250         3.828207
1945   168252         3.828207

[631 rows x 2 columns]

In [165]:
movies_to_be_recommend = recommendation_df[recommendation_df["weighted_rating"] > 3.5].sort_values("weighted_rating", ascending=False)

movies_to_be_recommend=movies_to_be_recommend.merge(movie[["movieId", "title"]])
movies_to_be_recommend["title"].to_list()

['Sicko (2007)',
 'Pursuit of Happyness, The (2006)',
 'Across the Universe (2007)',
 'My Big Fat Greek Wedding (2002)',
 'Blind Side, The  (2009)',
 'James and the Giant Peach (1996)',
 'Beautiful Thing (1996)',
 'Little Man Tate (1991)',
 "Howl's Moving Castle (Hauru no ugoku shiro) (2004)",
 'Little Miss Sunshine (2006)',
 'There Will Be Blood (2007)',
 "Project A 2 ('A' gai wak juk jap) (1987)",
 'Mother (Madeo) (2009)',
 'Love Exposure (Ai No Mukidashi) (2008)',
 'Enter the Void (2009)',
 'Troll 2 (1990)',
 'FLCL (2000)',
 'Let the Right One In (Lt den rtte komma in) (2008)',
 'Encounters at the End of the World (2008)',
 'Memories of Murder (Salinui chueok) (2003)',
 'Superbad (2007)',
 '13 Assassins (Jsan-nin no shikaku) (2010)',
 'Knocked Up (2007)',
 'This Is England (2006)',
 'Host, The (Gwoemul) (2006)',
 'Zodiac (2007)',
 'Hot Fuzz (2007)',
 'Mind Game (2004)',
 "Project A ('A' gai waak) (1983)",
 "Dead Man's Shoes (2004)",
 'Bittersweet Life, A (Dalkomhan insaeng) (2005)',
 'Kiss Kiss Bang Bang (2005)',
 'Harry Potter and the Deathly Hallows: Part 1 (2010)',
 'Avengers, The (2012)',
 'Tree of Life, The (2011)',
 'Birdman: Or (The Unexpected Virtue of Ignorance) (2014)',
 'Get Out (2017)',
 'John Wick: Chapter Two (2017)',
 'Arrival (2016)',
 'The Nice Guys (2016)',
 'Everybody Wants Some (2016)',
 'Tokyo Tribe (2014)',
 'Captain America: Civil War (2016)',
 'Mad Max: Fury Road (2015)',
 'It Follows (2014)',
 'Crippled Avengers (Can que) (Return of the 5 Deadly Venoms) (1981)',
 'John Wick (2014)',
 'Boyhood (2014)',
 'How to Train Your Dragon 2 (2014)',
 'Chronicle (2012)',
 'The Raid 2: Berandal (2014)',
 "Why Don't You Play In Hell? (Jigoku de naze warui) (2013)",
 'Only Lovers Left Alive (2013)',
 'Snowpiercer (2013)',
 'Her (2013)',
 "World's End, The (2013)",
 'Iron Man 3 (2013)',
 'Maniac Cop 2 (1990)',
 'Holy Motors (2012)',
 'Looper (2012)',
 'Cabin in the Woods, The (2012)',
 'The Raid: Redemption (2011)',
 'Kung Fu Hustle (Gong fu) (2004)',
 'Logan (2017)',
 'Predator (1987)',
 'Bad News Bears, The (1976)',
 'Opera (1987)',
 'Suspiria (1977)',
 'Legend of Drunken Master, The (Jui kuen II) (1994)',
 'Stranger Than Paradise (1984)',
 "Once Upon a Time in the West (C'era una volta il West) (1968)",
 'Hustler, The (1961)',
 'Do the Right Thing (1989)',
 'Dog Day Afternoon (1975)',
 'Ghost Dog: The Way of the Samurai (1999)',
 'Hard-Boiled (Lat sau san taam) (1992)',
 'Malcolm X (1992)',
 'Drunken Master (Jui kuen) (1978)',
 'Killer, The (Die xue shuang xiong) (1989)',
 'Raging Bull (1980)',
 "Miller's Crossing (1990)",
 'French Connection, The (1971)',
 'Fear and Loathing in Las Vegas (1998)',
 'Graduate, The (1967)',
 'Down by Law (1986)',
 'Mulholland Drive (2001)',
 'My Dinner with Andr (1981)',
 'Last Hurrah for Chivalry (Hao xia) (1979)',
 'Police Story (Ging chaat goo si) (1985)',
 'Gozu (Gokud kyfu dai-gekij: Gozu) (2003)',
 'Smoke (1995)',
 'Last Life in the Universe (Ruang rak noi nid mahasan) (2003)',
 'Sympathy for Mr. Vengeance (Boksuneun naui geot) (2002)',
 'Before Sunrise (1995)',
 'Joint Security Area (Gongdong gyeongbi guyeok JSA) (2000)',
 'Bullet in the Head (1990)',
 'Better Tomorrow II, A (Ying hung boon sik II) (1987)',
 'In the Mouth of Madness (1995)',
 'Night on Earth (1991)',
 'Dog Soldiers (2002)',
 'Branded to Kill (Koroshi no rakuin) (1967)',
 'Dead or Alive: Hanzaisha (1999)',
 'Dazed and Confused (1993)',
 'Battle Royale (Batoru rowaiaru) (2000)',
 '28 Days Later (2002)',
 '25th Hour (2002)',
 'Visitor Q (Bizita Q) (2001)',
 'Nightmare Before Christmas, The (1993)',
 'Aliens (1986)',
 'Akira (1988)',
 'Heat (1995)',
 'Thing, The (1982)',
 'Dawn of the Dead (1978)',
 'My Life in Pink (Ma vie en rose) (1997)',
 'Wedding Singer, The (1998)',
 'Goonies, The (1985)',
 'Ever After: A Cinderella Story (1998)',
 "Mr. Holland's Opus (1995)",
 'Nausica of the Valley of the Wind (Kaze no tani no Naushika) (1984)',
 'House of Sand and Fog (2003)',
 'Tommy Boy (1995)',
 'Sophie Scholl: The Final Days (Sophie Scholl - Die letzten Tage) (2005)',
 'Chorus, The (Choristes, Les) (2004)',
 "Rory O'Shea Was Here (Inside I'm Dancing) (2004)",
 'Children of Men (2006)']

In [180]:


def recommend(user):

  movie_id = rating[(rating["userId"] == user) & (rating["rating"] == 5.0)].sort_values(by="timestamp", ascending=False)["movieId"][0:1].values[0]
  movie_one=movie[movie["movieId"]==movie_id]["title"].values[0]

  common_movies=comment_counts[comment_counts["title"]>=100].index
  new_df=df[(df["title"].isin(common_movies)) | (df["title"]==movie_one)]
  user_movie_df =new_df.pivot_table(index=["title"], columns=["userId"], values=["rating"])
  corr_mat=user_movie_df.T.corr()
  recommemnd_movies=corr_mat[corr_mat.index==movie_one].unstack(level=1).sort_values(ascending=False)[1:11].index

  user_movie = new_df.pivot_table(index=["userId"], columns=["title"], values=["rating"])
  random_user_df = user_movie[user_movie.index == random_user]
  movies_watched = random_user_df.columns[random_user_df.notna().any()].tolist()
  movies_watched_df = user_movie[movies_watched]
  user_movie_count = movies_watched_df.T.notnull().sum()
  user_movie_count = user_movie_count.reset_index()
  user_movie_count.columns = ["userId","movie_count"]
  users_same_movies = user_movie_count[user_movie_count["movie_count"] > 0.4*len(movies_watched)]["userId"]
  final_df = movies_watched_df[movies_watched_df.index.isin(users_same_movies)]
  corr_df = final_df.T.corr().unstack().sort_values().drop_duplicates()
  corr_df = pd.DataFrame(corr_df, columns=["corr"])
  corr_df.index.names = ['user_id_1', 'user_id_2']
  corr_df = corr_df.reset_index()
  top_users = corr_df[(corr_df["user_id_1"] == random_user) & (corr_df["corr"] >= 0.45)][
    ["user_id_2", "corr"]].reset_index(drop=True)
  top_users = top_users.sort_values(by='corr', ascending=False)
  top_users.rename(columns={"user_id_2": "userId"}, inplace=True)
  top_users_ratings = top_users.merge(rating[["userId", "movieId", "rating"]], how='inner')
  top_users_ratings = top_users_ratings[top_users_ratings["userId"] != random_user]
  top_users_ratings['weighted_rating'] = top_users_ratings['corr'] * top_users_ratings['rating']
  top_users_ratings.groupby('movieId').agg({"weighted_rating": "mean"})
  recommendation_df = top_users_ratings.groupby('movieId').agg({"weighted_rating": "mean"})
  recommendation_df = recommendation_df.reset_index()
  movies_to_be_recommend = recommendation_df[recommendation_df["weighted_rating"] > 3.5].sort_values("weighted_rating", ascending=False)
  movies_to_be_recommend=movies_to_be_recommend.merge(movie[["movieId", "title"]])
  movies_to_be_recommend=movies_to_be_recommend["title"].to_list()
  for i in range(10):
   print(movies_to_be_recommend[i])
  for i in recommemnd_movies:
    print(i[0])

In [181]:
user=int(input("enter any user "))
recommend(user)

enter any user 1
Sicko (2007)
Pursuit of Happyness, The (2006)
Across the Universe (2007)
My Big Fat Greek Wedding (2002)
Blind Side, The  (2009)
James and the Giant Peach (1996)
Beautiful Thing (1996)
Little Man Tate (1991)
Howl's Moving Castle (Hauru no ugoku shiro) (2004)
Little Miss Sunshine (2006)
Departed, The (2006)
Green Mile, The (1999)
Cast Away (2000)
Dark Knight, The (2008)
Catch Me If You Can (2002)
Inception (2010)
Toy Story (1995)
American History X (1998)
V for Vendetta (2006)
Eternal Sunshine of the Spotless Mind (2004)